# pcnaDeep requirements
torch>=1.7
scikit-image>=0.17
matplotlib
numpy
pandas
iopath
trackpy>=0.4.2
opencv-python
scikit-learn>=0.24.1
scipy
tqdm

# Detectron2 requirements
# git+git://github.com/facebookresearch/fvcore.git
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.8.2%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/torchaudio-0.7.2-cp37-cp37m-linux_x86_64.whl

sphinx_rtd_theme
sphinx
docutils
recommonmark